#contactForm {
    font-family: 'Lora', serif;
    padding: 10px;
}

label {
    float: left;
    width: 100px;
    clear: left;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
}

.firstName {
    margin-top: 5px;
    display: block;
    width: 25%;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    background-color: white;
    padding: 5px;
    font-family: 'Lora', serif;
}

.lastName {
    margin-top: 5px;
    display: block;
    width: 25%;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    background-color: white;
    padding: 5px;
    font-family: 'Lora', serif;
}

.myEmail {
    margin-top: 5px;
    display: block;
    width: 25%;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    background-color: white;
    padding: 5px;
    font-family: 'Lora', serif;
}

.passWord {
    margin-top: 5px;
    display: block;
    width: 25%;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    background-color: white;
    padding: 5px;
    font-family: 'Lora', serif;
}

.mySubmit {
    margin-top: 5px;
    margin-left: 100px;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #2D7F3E;
    font-size: 20px;
    text-align: center;
    font-family: 'Lora', serif;
}

.mySubmit:hover {
    background-color: #667F6B;
}

@media only screen and (max-width: 1410px) {
    .firstName {
        width: 40%;
    }
    .lastName {
        width: 40%;
    }
    .myEmail {
        width: 40%;
    }
    .passWord {
        width: 40%;
    }
}

@media only screen and (max-width: 880px) {
    .firstName {
        width: 60%;
    }
    .lastName {
        width: 60%;
    }
    .myEmail {
        width: 60%;
    }
    .passWord {
        width: 60%;
    }
}

@media only screen and (max-width: 599px) {
    .firstName {
        width: 50%;
    }
    .lastName {
        width: 50%;
    }
    .myEmail {
        width: 50%;
    }
    .passWord {
        width: 50%;
    }
}